name: Deploy Chat Lambda

on:
  workflow_dispatch:
#  push:
#    branches: [ "main" ]
#    paths:
#      - "src/agent/**"
#      - "src/agent_lambda/**"
#      - "models/**"
#      - "pyproject.toml"
#      - "poetry.lock"
#      - ".github/workflows/deploy-chat-lambda.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{vars.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com

      - name: Build Docker image
        run: |
          docker build -f agent.Dockerfile -t medicalbot-agent .


      - name: Tag Docker image for ECR
        run: |
          docker tag medicalbot-agent ${{vars.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/medicalbot-agent:latest

      - name: Push Docker image to ECR
        run: |
          docker push ${{vars.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/medicalbot-agent:latest
      - name: Update Lambda function
        run: |
          IMAGE_DIGEST=$(aws ecr describe-images \
            --repository-name medicalbot-agent \
            --image-ids imageTag=latest \
            --query 'imageDetails[0].imageDigest' \
            --output text)
            
          aws lambda update-function-code \
            --function-name medicalbot \
            --image-uri ${{vars.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/medicalbot-agent@$IMAGE_DIGEST
          sleep 20

      - name: Publish new Lambda version
        id: publish
        run: |
            PREVIOUS_VERSION=$(aws lambda get-alias --function-name medicalbot --name production --query 'FunctionVersion' --output text)
            echo "previous_version=$PREVIOUS_VERSION" >> $GITHUB_OUTPUT
            NEW_VERSION=$(aws lambda publish-version --function-name medicalbot --query Version --output text)
            echo "$NEW_VERSION" > new_version.txt
            echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Canary release
        run: |
          aws lambda update-alias \
            --function-name medicalbot \
            --name production \
            --routing-config "{\"AdditionalVersionWeights\": {\"${{ steps.publish.outputs.new_version }}\": 0.5}}"
        
      - name: Trigger promotion workflow immediately
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: "Promote Lambda Canary"
          ref: main
          inputs: '{"previous_lambda_version": "${{steps.publish.outputs.previous_version}}", "new_lambda_version": "${{ steps.publish.outputs.new_version }}","delay_minutes": "5"}'