name: Promote Canary After Delay

on:
  workflow_run:
    workflows: ["Deploy Chat Lambda"]
    types: [completed]

jobs:
  wait-and-promote:
    runs-on: ubuntu-latest

    steps:
      - name: Wait 1 minutes
        run: sleep 60

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Read Lambda version from repo environment variable
        run: |
            VERSION=${{ vars.LAMBDA_VERSION }}
            echo "Promoting Lambda version $VERSION to 100% traffic"

      - name: Promote Lambda to 100% traffic
        run: |
            aws lambda update-alias \
            --function-name medicalbot \
            --name production \
            --function-version ${{ vars.LAMBDA_VERSION }} \
            --routing-config "{}"